<a href="https://colab.research.google.com/github/rizkyirw/Data-Analytic-Exercise/blob/main/Data_Transaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#cleaning data pakai library pandas(cleaning file csv), numpy(handle operasi mat), matplotlib (grafik)

import pandas as pd

In [ ]:
#define variable buat data yg akan dipakai
transaction = pd.read_csv("Transaction.csv")

In [ ]:
transaction

,Transaction_id,customer_id,Date,Product,Gender,Device_Type,Category,Customer_Login_type,Delivery_Type,Quantity,Amount US$,Individual_Price_US$
0,40170,1348959766,11/14/2013,Hair Band,Female,Web,Accessories,Member,one-day deliver,12,"6,910",576
1,76028,1645228017,12/21/2013,Jean,Female,Web,Clothing,Guest,one-day deliver,16,641,40
2,17894,1610000572,10/10/2013,Shirt,Male,Web,Clothing,Member,one-day delivery,12,"1,647",137
3,17949,2217960309,10/10/2013,Shirt,Male,Web,Clothing,Member,one-day deliver,17,0,0
4,17951,2219304866,10/10/2013,Shirts,Male,Web,Clothing,Member,one-day deliver,22,"5,298",241
...,...,...,...,...,...,...,...,...,...,...,...,...
2805,87229,1934341369,1/4/2014,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,"3,495",269
2806,91945,1506256089,1/11/2014,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,"9,900",762
2807,92063,1651310842,1/11/2014,Shoes,Female,Mobile,wearables,Member,one-day deliver,23,"1,768",77
2808,92458,2152149636,1/12/2014,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,"9,216",576
2809,92660,1382338268,1/12/2014,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,"3,298",206

check your table

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2810 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2810 non-null   int64
 1   customer_id           2810 non-null   int64
 2   Date                  2810 non-null   object
 3   Product               2810 non-null   object
 4   Gender                2810 non-null   object
 5   Device_Type           2810 non-null   object
 6   Category              2810 non-null   object
 7   Customer_Login_type   2810 non-null   object
 8   Delivery_Type         2810 non-null   object
 9   Quantity              2810 non-null   int64
 10  Amount US$            2809 non-null   object
 11  Individual_Price_US$  2810 non-null   object
dtypes: int64(3), object(9)
memory usage: 263.6+ KB

create backup table before cleaning your data

In [ ]:
transaction_backup = transaction.copy()

cleaning data process :
1. change datatype for transaction_id and customer_id

In [ ]:
#simpan lokasi kolom dan kode ganti tipe data
transaction["Transaction_id"] = transaction["Transaction_id"].astype("str")

In [ ]:
transaction["customer_id"] = transaction["customer_id"].astype("str")

hasil setelah penggantian tipe data

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2810 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2810 non-null   object
 1   customer_id           2810 non-null   object
 2   Date                  2810 non-null   object
 3   Product               2810 non-null   object
 4   Gender                2810 non-null   object
 5   Device_Type           2810 non-null   object
 6   Category              2810 non-null   object
 7   Customer_Login_type   2810 non-null   object
 8   Delivery_Type         2810 non-null   object
 9   Quantity              2810 non-null   int64
 10  Amount US$            2809 non-null   object
 11  Individual_Price_US$  2810 non-null   object
dtypes: int64(1), object(11)
memory usage: 263.6+ KB

2. change datatype for column date from object to date

In [ ]:
transaction["Date"] = pd.to_datetime(transaction["Date"], format="%m/%d/%Y")

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2810 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2810 non-null   object
 1   customer_id           2810 non-null   object
 2   Date                  2810 non-null   datetime64[ns]
 3   Product               2810 non-null   object
 4   Gender                2810 non-null   object
 5   Device_Type           2810 non-null   object
 6   Category              2810 non-null   object
 7   Customer_Login_type   2810 non-null   object
 8   Delivery_Type         2810 non-null   object
 9   Quantity              2810 non-null   int64
 10  Amount US$            2809 non-null   object
 11  Individual_Price_US$  2810 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 263.6+ KB

3. change ammount US$ to int nad Individual price to int

In [ ]:
transaction["Amount US$"]

0       6,910
1         641
2       1,647
3           0
4       5,298
        ...
2805    3,495
2806    9,900
2807    1,768
2808    9,216
2809    3,298
Name: Amount US$, Length: 2810, dtype: object

data masih dibaca string, karena ada tanda koma pada data(,). harus diubah dulu koma nya agar hilang

In [ ]:
transaction["Amount US$"] = transaction["Amount US$"].str.replace(",","")

In [ ]:
transaction["Amount US$"]

0       6910
1        641
2       1647
3          0
4       5298
        ...
2805    3495
2806    9900
2807    1768
2808    9216
2809    3298
Name: Amount US$, Length: 2810, dtype: object

In [ ]:
transaction["Amount US$"] = transaction["Amount US$"].astype("int")

clear missing value dari data NaN diatas

In [ ]:
transaction = transaction.dropna(axis=0) #axis0 = sumbu satu baris data keseluruhan

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2809 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2809 non-null   object
 1   customer_id           2809 non-null   object
 2   Date                  2809 non-null   datetime64[ns]
 3   Product               2809 non-null   object
 4   Gender                2809 non-null   object
 5   Device_Type           2809 non-null   object
 6   Category              2809 non-null   object
 7   Customer_Login_type   2809 non-null   object
 8   Delivery_Type         2809 non-null   object
 9   Quantity              2809 non-null   int64
 10  Amount US$            2809 non-null   object
 11  Individual_Price_US$  2809 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 285.3+ KB

In [ ]:
transaction["Individual_Price_US$"].unique()

array(['576', '40', '137', '0', '241', '237', '88', '125', '155', '939',
       '73', '331', '29', '250', '253', '282', '156', '460', '85', '500',
       '248', '23', '44', '28', '352', '154', '14', '83', '17', '170',
       '267', '131', '150', '378', '144', '169', '145', '36', '60', '473',
       '110', '359', '432', '323', '127', '53', '920', '54', '219', '117',
       '70', '11', '166', '200', '4', '100', '223', '550', '78', '298',
       '714', '329', '58', '1,387', '148', '25', '133', '493', '245',
       '108', '59', '65', '1,318', '455', '99', '261', '61', '94', '204',
       '231', '695', '64', '32', '859', '56', '143', '382', '130', '33',
       '50', '63', '38', '385', '775', '168', '252', '447', '102',
       '1,497', '639', '81', '353', '167', '22', '115', '781', '1,389',
       '116', '293', '140', '368', '#VALUE!', '80', '182', '18', '15',
       '123', '233', '297', '86', '1,343', '176', '313', '306', '42',
       '3,839', '95', '6', '257', '383', '243', '242', '47', '8', '341',
       '230', '138', '224', '186', '118', '180', '39', '76', '43', '21',
       '77', '128', '1,040', '194', '240', '67', '114', '135', '163',
       '644', '229', '1,583', '188', '174', '89', '358', '311', '1,036',
       '283', '308', '112', '348', '45', '134', '942', '202', '251',
       '106', '325', '13', '124', '205', '907', '91', '79', '122', '787',
       '694', '386', '300', '71', '474', '770', '9', '195', '333', '107',
       '239', '950', '105', '3,972', '316', '82', '62', '840', '334',
       '364', '375', '126', '541', '2,361', '41', '768', '272', '808',
       '1,516', '285', '307', '1,399', '366', '55', '700', '12', '336',
       '119', '157', '469', '2,923', '2,386', '1,111', '457', '357',
       '509', '400', '26', '1,566', '3,667', '892', '271', '153', '483',
       '309', '206', '1,167', '187', '349', '30', '1,114', '147', '37',
       '683', '494', '625', '304', '614', '403', '211', '31', '2,143',
       '97', '120', '584', '340', '480', '213', '459', '466', '235',
       '103', '210', '2,258', '1,570', '1,106', '162', '529', '553',
       '351', '34', '335', '68', '667', '343', '295', '69', '918', '408',
       '444', '498', '3,228', '264', '93', '884', '209', '1,209', '238',
       '1,028', '1,703', '51', '228', '278', '871', '319', '1,471', '19',
       '669', '1,592', '436', '310', '1,599', '225', '332', '172', '35',
       '600', '289', '568', '181', '567', '497', '941', '563', '1,667',
       '464', '74', '87', '658', '800', '256', '388', '215', '708', '833',
       '354', '434', '113', '72', '485', '633', '381', '536', '733', '27',
       '585', '450', '299', '1,208', '735', '390', '339', '2,500', '10',
       '350', '234', '515', '344', '539', '678', '288', '315', '746',
       '1,855', '337', '84', '461', '1,796', '132', '312', '192', '1,429',
       '392', '57', '318', '582', '5', '96', '2,750', '729', '1,150',
       '2,864', '196', '439', '159', '611', '1,227', '183', '48', '535',
       '328', '428', '286', '557', '3', '513', '322', '443', '212', '766',
       '226', '1,103', '121', '476', '136', '1,176', '198', '7', '185',
       '650', '247', '236', '75', '20', '178', '1,571', '52', '191',
       '663', '413', '269', '662', '305', '1,475', '152', '3,632', '273',
       '16', '111', '158', '208', '1,406', '989', '173', '998', '684',
       '399', '792', '367', '706', '92', '984', '802', '109', '1,633',
       '445', '3,026', '222', '1,250', '417', '189', '1,135', '175',
       '796', '324', '441', '49', '507', '405', '458', '710', '556', '24',
       '255', '214', '1', '1,423', '1,006', '816', '342', '141', '190',
       '146', '262', '321', '199', '216', '825', '2,333', '1,252', '139',
       '265', '858', '1,207', '217', '142', '672', '767', '530', '418',
       '842', '184', '421', '1,056', '937', '410', '583', '566', '276',
       '481', '424', '177', '1,024', '218', '640', '275', '426', '66',
       '2,415', '599', '284', '302', '709', '2,069', '259', '149', '685',
       '1,896', '268', '2,228', '809', '277', '831', '1,062', '832',
       '3,279', '314', '565', '478', '129', '609', '165', '1,211', '569',
       '1,076', '244', '1,854', '1,212', '1,113', '608', '885', '1,136',
       '1,138', '1,674', '438', '456', '427', '151', '266', '2,279',
       '776', '4,667', '558', '641', '303', '347', '628', '2,826', '677',
       '395', '294', '291', '588', '805', '525', '607', '467', '346',
       '572', '3,218', '1,086', '623', '4,730', '617', '90', '1,204',
       '1,183', '544', '292', '179', '171', '376', '676', '1,546', '287',
       '604', '900', '2,896', '838', '772', '290', '472', '429', '1,943',
       '1,660', '279', '263', '1,110', '220', '828', '104', '327', '470',
       '671', '945', '518', '591', '201', '46', '1,286', '320', '1,424',
       '2,683', '854', '679', '875', '2,015', '502', '5,700', '281',
       '164', '889', '394', '2,264', '613', '301', '631', '414', '98',
       '898', '538', '895', '927', '365', '968', '1,874', '692', '374',
       '391', '1,079', '258', '935', '1,323', '731', '449', '4,944',
       '1,013', '2,769', '590', '227', '1,620', '296', '643', '203',
       '2,153', '280', '867', '420', '161', '380', '839', '804', '956',
       '719', '705', '581', '1,911', '1,154', '488', '1,178', '2', '577',
       '274', '317', '1,153', '411', '422', '389', '431', '1,047', '795',
       '2,191', '1,513', '387', '652', '635', '384', '1,007', '433',
       '101', '822', '1,041', '552', '416', '1,904', '1,093', '2,470',
       '533', '2,038', '847', '496', '465', '864', '2,000', '249', '491',
       '516', '1,229', '270', '377', '1,448', '419', '1,019', '682',
       '356', '1,186', '722', '868', '193', '446', '645', '1,134', '648',
       '369', '254', '1,233', '532', '1,232', '1,073', '814', '1,711',
       '762'], dtype=object)

In [ ]:
#filter untuk mengubah , dan #VALUE!
#ketika koneksi putus, maka perlu dijalankan ulang pakai run before

#hasil setelah di filter dan disimpan ke tabel transaction
transaction = transaction[transaction["Individual_Price_US$"]!="#VALUE!"]

In [ ]:
transaction["Individual_Price_US$"] = transaction["Individual_Price_US$"].str.replace(",","")

In [ ]:
transaction["Individual_Price_US$"] = transaction["Individual_Price_US$"].astype("int")

In [ ]:
#hasil setelah di filter
transaction["Individual_Price_US$"].unique()

array(['576', '40', '137', '0', '241', '237', '88', '125', '155', '939',
       '73', '331', '29', '250', '253', '282', '156', '460', '85', '500',
       '248', '23', '44', '28', '352', '154', '14', '83', '17', '170',
       '267', '131', '150', '378', '144', '169', '145', '36', '60', '473',
       '110', '359', '432', '323', '127', '53', '920', '54', '219', '117',
       '70', '11', '166', '200', '4', '100', '223', '550', '78', '298',
       '714', '329', '58', '1387', '148', '25', '133', '493', '245',
       '108', '59', '65', '1318', '455', '99', '261', '61', '94', '204',
       '231', '695', '64', '32', '859', '56', '143', '382', '130', '33',
       '50', '63', '38', '385', '775', '168', '252', '447', '102', '1497',
       '639', '81', '353', '167', '22', '115', '781', '1389', '116',
       '293', '140', '368', '80', '182', '18', '15', '123', '233', '297',
       '86', '1343', '176', '313', '306', '42', '3839', '95', '6', '257',
       '383', '243', '242', '47', '8', '341', '230', '138', '224', '186',
       '118', '180', '39', '76', '43', '21', '77', '128', '1040', '194',
       '240', '67', '114', '135', '163', '644', '229', '1583', '188',
       '174', '89', '358', '311', '1036', '283', '308', '112', '348',
       '45', '134', '942', '202', '251', '106', '325', '13', '124', '205',
       '907', '91', '79', '122', '787', '694', '386', '300', '71', '474',
       '770', '9', '195', '333', '107', '239', '950', '105', '3972',
       '316', '82', '62', '840', '334', '364', '375', '126', '541',
       '2361', '41', '768', '272', '808', '1516', '285', '307', '1399',
       '366', '55', '700', '12', '336', '119', '157', '469', '2923',
       '2386', '1111', '457', '357', '509', '400', '26', '1566', '3667',
       '892', '271', '153', '483', '309', '206', '1167', '187', '349',
       '30', '1114', '147', '37', '683', '494', '625', '304', '614',
       '403', '211', '31', '2143', '97', '120', '584', '340', '480',
       '213', '459', '466', '235', '103', '210', '2258', '1570', '1106',
       '162', '529', '553', '351', '34', '335', '68', '667', '343', '295',
       '69', '918', '408', '444', '498', '3228', '264', '93', '884',
       '209', '1209', '238', '1028', '1703', '51', '228', '278', '871',
       '319', '1471', '19', '669', '1592', '436', '310', '1599', '225',
       '332', '172', '35', '600', '289', '568', '181', '567', '497',
       '941', '563', '1667', '464', '74', '87', '658', '800', '256',
       '388', '215', '708', '833', '354', '434', '113', '72', '485',
       '633', '381', '536', '733', '27', '585', '450', '299', '1208',
       '735', '390', '339', '2500', '10', '350', '234', '515', '344',
       '539', '678', '288', '315', '746', '1855', '337', '84', '461',
       '1796', '132', '312', '192', '1429', '392', '57', '318', '582',
       '5', '96', '2750', '729', '1150', '2864', '196', '439', '159',
       '611', '1227', '183', '48', '535', '328', '428', '286', '557', '3',
       '513', '322', '443', '212', '766', '226', '1103', '121', '476',
       '136', '1176', '198', '7', '185', '650', '247', '236', '75', '20',
       '178', '1571', '52', '191', '663', '413', '269', '662', '305',
       '1475', '152', '3632', '273', '16', '111', '158', '208', '1406',
       '989', '173', '998', '684', '399', '792', '367', '706', '92',
       '984', '802', '109', '1633', '445', '3026', '222', '1250', '417',
       '189', '1135', '175', '796', '324', '441', '49', '507', '405',
       '458', '710', '556', '24', '255', '214', '1', '1423', '1006',
       '816', '342', '141', '190', '146', '262', '321', '199', '216',
       '825', '2333', '1252', '139', '265', '858', '1207', '217', '142',
       '672', '767', '530', '418', '842', '184', '421', '1056', '937',
       '410', '583', '566', '276', '481', '424', '177', '1024', '218',
       '640', '275', '426', '66', '2415', '599', '284', '302', '709',
       '2069', '259', '149', '685', '1896', '268', '2228', '809', '277',
       '831', '1062', '832', '3279', '314', '565', '478', '129', '609',
       '165', '1211', '569', '1076', '244', '1854', '1212', '1113', '608',
       '885', '1136', '1138', '1674', '438', '456', '427', '151', '266',
       '2279', '776', '4667', '558', '641', '303', '347', '628', '2826',
       '677', '395', '294', '291', '588', '805', '525', '607', '467',
       '346', '572', '3218', '1086', '623', '4730', '617', '90', '1204',
       '1183', '544', '292', '179', '171', '376', '676', '1546', '287',
       '604', '900', '2896', '838', '772', '290', '472', '429', '1943',
       '1660', '279', '263', '1110', '220', '828', '104', '327', '470',
       '671', '945', '518', '591', '201', '46', '1286', '320', '1424',
       '2683', '854', '679', '875', '2015', '502', '5700', '281', '164',
       '889', '394', '2264', '613', '301', '631', '414', '98', '898',
       '538', '895', '927', '365', '968', '1874', '692', '374', '391',
       '1079', '258', '935', '1323', '731', '449', '4944', '1013', '2769',
       '590', '227', '1620', '296', '643', '203', '2153', '280', '867',
       '420', '161', '380', '839', '804', '956', '719', '705', '581',
       '1911', '1154', '488', '1178', '2', '577', '274', '317', '1153',
       '411', '422', '389', '431', '1047', '795', '2191', '1513', '387',
       '652', '635', '384', '1007', '433', '101', '822', '1041', '552',
       '416', '1904', '1093', '2470', '533', '2038', '847', '496', '465',
       '864', '2000', '249', '491', '516', '1229', '270', '377', '1448',
       '419', '1019', '682', '356', '1186', '722', '868', '193', '446',
       '645', '1134', '648', '369', '254', '1233', '532', '1232', '1073',
       '814', '1711', '762'], dtype=object)

In [ ]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2798 entries, 0 to 2809
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Transaction_id        2798 non-null   object
 1   customer_id           2798 non-null   object
 2   Date                  2798 non-null   datetime64[ns]
 3   Product               2798 non-null   object
 4   Gender                2798 non-null   object
 5   Device_Type           2798 non-null   object
 6   Category              2798 non-null   object
 7   Customer_Login_type   2798 non-null   object
 8   Delivery_Type         2798 non-null   object
 9   Quantity              2798 non-null   int64
 10  Amount US$            2798 non-null   int64
 11  Individual_Price_US$  2798 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(8)
memory usage: 284.2+ KB

In [ ]:
#hapus data duplikat
transaction.drop_duplicates()

,Transaction_id,customer_id,Date,Product,Gender,Device_Type,Category,Customer_Login_type,Delivery_Type,Quantity,Amount US$,Individual_Price_US$
0,40170,1348959766,2013-11-14,Hair Band,Female,Web,Accessories,Member,one-day deliver,12,6910,576
1,76028,1645228017,2013-12-21,Jean,Female,Web,Clothing,Guest,one-day deliver,16,641,40
2,17894,1610000572,2013-10-10,Shirt,Male,Web,Clothing,Member,one-day delivery,12,1647,137
3,17949,2217960309,2013-10-10,Shirt,Male,Web,Clothing,Member,one-day deliver,17,0,0
4,17951,2219304866,2013-10-10,Shirts,Male,Web,Clothing,Member,one-day deliver,22,5298,241
...,...,...,...,...,...,...,...,...,...,...,...,...
2805,87229,1934341369,2014-01-04,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,3495,269
2806,91945,1506256089,2014-01-11,Shoes,Female,Mobile,wearables,Member,one-day deliver,13,9900,762
2807,92063,1651310842,2014-01-11,Shoes,Female,Mobile,wearables,Member,one-day deliver,23,1768,77
2808,92458,2152149636,2014-01-12,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,9216,576
2809,92660,1382338268,2014-01-12,Shoes,Female,Mobile,wearables,Member,one-day deliver,16,3298,206

In [ ]:
#download file csv yang telah di clean, index=False untuk datanya tetap terurut/terindex
transaction.to_csv("transaction cleaned.csv", index=False)

#library untuk download file
from google.colab import files
files.download("transaction cleaned.csv")